.urlcard{
    padding: 15px;
    flex: 1 1 100%;
    box-sizing: border-box;
    max-width: 100%;
}

.urlcard input{
    border: 1px solid;
    border-radius: 4px;
  font-size: 1rem;
  margin: 0.25rem;
  min-width: 125px;
  padding: 0.5rem;
  transition: background-color 0.5s ease-out;
    width: 95%;
}

.alignleft{
    float:left;
    padding: 10px;
}

.alignright{
    float:right;
    padding: 10px;
}

.aligncenter{
    padding: 5px;
    margin:10px;
    position: relative;
    left: 18%;
}